<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  
<div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country%><br />
  <%= f.country_select :country, priority: %w(US CA), prompt: 'Please select a country' %>
  </div>
  
  <% if false %>
    Enable this block once you find a way to make countries select work
   <div class="form-group">
    <%= f.label :state %><br />
  <%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary"  %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
