<% if (user_signed_in?) %>
    <div class="jumbotron">
      <h1>Lease made Easy with lEASY</h1>
      <h2> A webApp to lease or share items easily with your friends.<h2>
    </div>
    <br>
    <h2> Check what items are currently available to lease or share from your friends ? </h2>
    <br>
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
        <% if (current_user != listing.user) %>
      <div class="col-md-3">
        <div class="thumbnail">
         <%= link_to image_tag(listing.image.url), listing %> 
        
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%="Leased By :- #{listing.user.name}" %></p>

          </div>
        </div>
      </div>
        <% end %>
    <% end %>
  </div>
  <br>
  <br>
  <h2>Here is a complete list of items that you are leasing out to your friends </h2>
  <br>

  <div class="row">
    <% @listings.each do |listing| %>
        <% if (current_user == listing.user) %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>

            <div class="caption">
              <h3><%= listing.name %></h3>
              <p><%= number_to_currency(listing.price) %></p>
              <p><%="Leased by :- #{listing.user.name}" %></p>
              <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
              <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>

            </div>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>

<br>
    <h2> Be resourceful to your friends, add new stuff to lease </h2>
  <%= link_to 'Add items', new_listing_path, class: "btn btn-success"  %>
<% end %>

<% if (!user_signed_in?) %>
    <video autoplay  poster="https://dl.dropboxusercontent.com/s/0xg4lvvimdpk9dd/Leasy.jpg?dl=0" id="bgvid" loop>
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
      <source src="https://dl.dropboxusercontent.com/s/c8b9cyt9qah3rwk/Leasy.mp4?dl=0" type="video/mp4">
    </video>
    <div id="polina">
      <h1>Lease made Easy with lEASY</h1>
      <br> <h2> A webApp to lease or share items easily with your friends.<h2>
      <br> <br> <h2> Find out what your friends are leasing:- <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-large btn-primary" %> </h2>
      <button>Pause</button>
    </div>


<% end %>